<!-- JumboTron -->
<div class="jumbotron" align="center">
  <h1>WELCOME TO MI BLOG POSTS</h1>
</div>
<!-- Content -->
<div class="masonary-row row">
  <div class="posts">
    <!-- Iteration -->
    <% @posts.each do |post| %>
    <!-- Columns -->
      <div class="col col-lg-6">
        <!-- Panels -->
        <div class="panel panel-success">
          <div class="panel-heading">
             <h3><%= post.title %></h3>
             <!-- Username / time / link_to user post -->
         <h4>By: <%= link_to post.user.username, user_posts_path(id: post.user_id) %>, <%= post.created_at.strftime("%A %m/%d/%y") %></h4>
             <!-- AVATAR Validation -->
             <% if post.user.avatar.url != nil %>
              <%= image_tag post.user.avatar.url, class: "pull-right avatar" %>
              <% end %>
          </div>

          <div class="panel-body">
             <%= post.blog_entry.html_safe %>
          </div>       
          <div class="panel-footer">
            <!-- Buttons -->
            <p class="btn btn-primary btn-small"><%= link_to 'Show', post %></p>
            <p class="btn btn-info btn-small"><%= link_to 'Edit', edit_post_path(post) %></p>
            <p class="btn btn-warning btn-small"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
          </div>
        </div>
      </div>
   <% end %>
  </div>
</div>

<!-- Pagination of Pages Kaminari -->
  <%= paginate @posts %>
